@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@font-face {
  font-family: "GFS Artemisia";
  src: url("./assets//fonts/gfs_artemisia/GFSArtemisia.ttf");
}

@font-face {
  font-family: "GFS Artemisia Bold";
  src: url("./assets/fonts/gfs_artemisia/GFSArtemisiaBold.ttf");
}

@font-face {
  font-family: "Abhaya Libre Regular";
  src: url("./assets/fonts/Abhaya-Libre-Font/AbhayaLibre-Regular.ttf");
}

@font-face {
  font-family: "Abhaya Libre Bold";
  src: url("./assets/fonts/Abhaya-Libre-Font/AbhayaLibre-Bold.ttf");
}

@theme trigantTheme {
  --color-bg: #ffffff;
  --color-title: #666;
  --color-text: #808080;
  --color-accent-gold: #ccac60;
  --color-accent-content: #403f3f;
  --color-back-footer: #a78540;
  --color-white-text: #ffffff;
  --color-green-accent: #4d6125;
  --color-black-accent: #37040e;
  --color-beige-accent: #fffaee;
  --color-menu: rgba(0, 0, 0, 0.56);
  --color-menu-scroll: rgba(255, 255, 255, 0.7);

  --size-mini-title: 1.3rem;
  --size-mini-text: 1rem;
  --size-title: 1.4rem;
  --size-text: 1.2rem;

  --font-artemisia: "GFS Artemisia", serif;
  --font-artemisia-bold: "GFS Artemisia Bold", serif;
  --font-inter: "Inter", sans-serif;
  --font-abhaya: "Abhaya Libre Regular", serif;
  --font-abhaya-bold: "Abhaya Libre Bold", serif;

  --space-small: 11vw;
  --space-big: 20vw;
  --space-img-title: 10vw;
  --space-title-text: 3vw;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

.mini-title {
  color: var(--color-title);
  font-family: var(--font-artemisia-bold);
  padding-top: var(--space-img-title);
  text-align: center;
  font-size: var(--size-mini-title);
  width: 80%;
}

.mini-text {
  color: var(--color-text);
  font-family: var(--font-inter);
  padding-top: var(--space-title-text);
  font-size: var(--size-mini-text);
  text-align: justify;
  width: 100%;
}

@layer utilities {
  .timeline-vertical {
    &.timeline-snap-icon {
      & > li {
        --timeline-row-start: 0; /* rond collé hr */
      }
    }
  }
}